<%- layout('layouts/ratelayout') %>

	<h1>Rate the Movie:</h1>


	<div class="grid-container">

		<div>
			<img src="<%=IMG_URL%><%=data.poster_path%> ">
		</div>

		<div class="RatingForm">
			<h1 id="title">
				<%= data.original_title %>
			</h1>
			<h1>Date Released: <%= data.release_date %>
			</h1>
			<!-- <p>Movie Director <%# data.director %></p> -->
			<h1>[Overview] </h1>
			<p>
				<%=data.overview %>
			</p>

			<form action="/movies/<%=data.id%>/<%=data.original_title%>" method="POST">
				<label for="rate">What would you rate this movie?</label>
				<select size="4" name="movie_rating" id="mrate">
					<option value="10">10</option>
					<option value="9.5">9.5</option>
					<option value="9">9</option>
					<option value="8.5">8.5</option>
					<option value="8">8</option>
					<option value="7.5">7.5</option>
					<option value="7">7</option>
					<option value="6.5">6.5</option>
					<option value="6">6</option>
					<option value="5.5">5.5</option>
					<option value="5">5</option>
					<option value="4.5">4.5</option>
					<option value="4">4</option>
					<option value="3.5">3.5</option>
					<option value="3">3</option>
					<option value="2.5">2.5</option>
					<option value="2">2</option>
					<option value="1.5">1.5</option>
					<option value="1">1</option>
				</select>
				<br />
				<input type="submit" value="Submit" />
			</form>

		</div>

	</div> <!-- End of  Grid -->



	<!-- End of Modal Container-->